/**UNIVERSAL**/
* {
	font-family:"Roboto Mono";
}

h1, h2, h3, h4, h5, h6, ul {
	margin:unset;
	padding:unset;
}

ul {
	list-style-type:none;
}

a {
	text-decoration:none;
}

/**USEFUL**/
.section_row {
	width:85%;
	margin-left:7.5%;
}

.textboxer {
	background-color:black;
	color:white;
	padding:15px;
	width:165px;
	margin-top:20px;
}

/**NAV / KENNY**/

#nav_tab {
	background-color:#dcf1e6;
	text-align:center;
}

#nav_bar a{
	text-decoration:none;
	color:black;
}

.myname {
	background-color:black;
	color:white;
	width:150px;
	padding:15px 0;
	margin:auto;
	text-decoration:underline;
}

.temppic {
	height:150px;
	width:150px;
	background-color:white;
	border-radius:50%;
}

/**SKILLS**/
/*#skill_list {
	display:inline-block;
	width:100%;
}

.skill_icon {
	width:20%;
	padding-top:100%;
	background-color:#dcf1e6;
}
*/
/**PROJECTS**/
.work_tile {
	width:100%;
	height:300px;
	margin:10px 0;
	background-color:#dcf1e6;
	display:block;
	position:relative;
	overflow:hidden;
}

.work_title {
	color:white;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.5);
	position:absolute;
	text-align:center;
	padding-top:115px;
}