/**UNIVERSAL**/
* {
	font-family:"Roboto Mono";
}

h1, h2, h3, h4, h5, h6, ul {
	margin:unset;
	padding:unset;
}

ul {
	list-style-type:none;
}

a {
	text-decoration:none;
}

/**USEFUL**/
.section_row {
	width:85%;
	margin-left:7.5%;
}

.textboxer {
	background-color:black;
	color:white;
	padding:15px;
	width:165px;
	margin-top:20px;
	font-size:2em;
}

/**NAV / KENNY**/

#nav_tab {
	background-color:#dcf1e6;
	text-align:center;
}

.nav_item {
	cursor:pointer;
	font-weight:bold;
	text-transform:uppercase;
	margin:5px 0;
}

.nav_item:hover {
	color:white;
}

#nav_bar_mobile {
	background-color:rgb(220,241,230);
	z-index:1000;
	position:fixed;
	width:100%;
	height:100%;
	text-align:center;
	padding-top:25%;
	background-image:url("../images/dottedbackground.png");
	background-size:cover;
	background-repeat:no-repeat;
}

#nav_bar_mobile li {
	padding:15px 0;
	box-sizing:border-box;
	display:block;
	font-size:2.5em;
	color:black;
	width:100%;
}

#nav_bar_mobile a {
	display:block;
	font-size:2.5em;
	color:black;
	height:100%;
	width:100%;
}

#nav_tab {
	height:100vh;
	z-index:1000;
}

#nav_bar a{
	text-decoration:none;
	color:black;
}

.myname {
	background-color:black;
	color:white;
	width:350px;
	padding:15px 0;
	margin:auto;
	margin-top:20px;
	font-size:3em;
	text-decoration:underline;
}

.mydescript {
	font-size:2.5em;
	background-color:white;
	width:50%;
	margin:auto;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px 0;
	font-weight:bold;
}

.temppic {
	height:500px;
	width:500px;
	background-color:white;
	border-radius:50%;
}

#full_width_bmenu {
	width:100%;
	height:130px;
	background-color:rgba(255,255,255,.9);
	position:fixed;
	z-index:998;
}

.sec_row_me {
	padding-top:155px;
}

/**ABOUT ME**/
.hi_me {
	font-size:6em;
	background-color:#dcf1e6;
}

.about_me_box p{
	font-size:2.5em;
}

/**SKILLS**/
.skillsimage {
	background-image:url("../images/allskills.png");
	background-repeat:no-repeat;
	height:200px;
	width:100%;
	background-size:contain;
	margin-top:25px;
	margin-bottom:75px;
}

/**PROJECTS**/
.projects_class {
	display:inline-block;
}

.project_tab, .design_tab {
	cursor:pointer;
}

.tab_active {
	background-color:#dcf1e6;
	color:black;
}

.work_tile {
	width:100%;
	padding-top:100%;
	margin:25px 0;
	background-color:#dcf1e6;
	display:block;
	position:relative;
	overflow:hidden;
}

.work_title {
	color:white;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.5);
	position:absolute;
	text-align:center;
	padding-top:115px;
	font-size:2.5em;
}

.work_tile_slider {
	background-color:rgba(0,0,0,.80);
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	color:white;
	text-align:center;
	padding-top:40%;
	font-size:2em;
}

.guesser {
	background-image:url("../images/guesserscreen.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.rugsusa {
	background-image:url("../images/rugsusabackground.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.todo_list {
	background-image:url("../images/todolistpic.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.name_tag {
	height:75px;
	width:100%;
	font-size:2em;
	text-align:center;
	font-weight:bold;
}

.view_proj_button {
	background-color:#dcf1e6;
	color:white;
}

.half_button {
	width:50%;
	float:left;
	margin:unset;
	margin-top:unset;
}

/**DESIGN TAB ITEMS**/
.spring_poster {
	background-image:url("../images/SpringFront.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

.business_card {
	background-image:url("../images/Businesscard.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

/**CONTACT**/
.contact_me_line {
	font-size:2em;
}

.contact_one_liner {
	width:100%;
	height:50px;
	border:1px solid gray;
	font-size:2em;
	margin:10px 0;
}

.contact_text_area {
	width:100%;
	border:1px solid gray;
	height:300px;
	font-size:2em;
	margin:10px 0;
}

.contact_label {
	font-size:2em;
}

.submit_button {
	width:101%;
	height:70px;
	background-color:black;
	color:white;
	font-size:2em;
	border:1px solid black;
	margin-top:10px;
}

.contact_bot_margin {
	margin-bottom:40px;
}

/**TEST**/
#burger_menu, #burger_menu_close {
	height:75px;
	width:75px;
	display:block;
	position:fixed;
	margin:3% 0 0 3%;
	background-size:cover;
	background-repeat:no-repeat;
}

#burger_menu {
	z-index:999;
	background-image:url("../images/burgermenu.svg");
}

#burger_menu_close {
	position:absolute;
	top:0;
	left:0;
	background-image:url("../images/minus.svg");
}

/**DESKTOP MEDIA QUERY**/
@media (min-width:1200px){
	#full_container {
		width:75%;
		margin-left:25%;
	}
	#full_width_bmenu {
		display:none !important;
	}
	#nav_tab {
		display:block !important;
		position:fixed;
		width:25%;
	}
	.temppic {
		width:175px;
		height:175px;
		margin-top:20%;
	}
	.mydescript {
		font-size:1em;
		width:200px;
	}
	.myname {
		width:175px;
		font-size:1em;
	}
	.sec_row_me {
		padding-top:75px;
	}
	.about_me_box p {
		font-size:1em;
		width:75%;
	}
	.textboxer {
		font-size:1em;
		width:120px;
	}
	.skillsimage {
		width:70%;
		height:100px;
		background-image:url("../images/desktopskills.png");
		margin-bottom:unset;
	}
	.work_tile {
		margin-bottom:10px;
		display:inline-block;
	}
	.work_tile_slider {
		font-size:1em;
	}
	.name_tag {
		font-size:1em;
		height:40px;
	}
	.full_work_tile {
		display:inline-block;
		width:30%;
	}
	/**CONTACT MEDIA QUERY**/
	.contact_me_line, .contact_one_liner, .contact_text_area, .contact_label, .submit_button {
		font-size:1em;
	}

	.contact_one_liner, .contact_text_area {
/*		width:60%;*/
		height:unset;
		display:block;
	}
	.contact_text_area {
		height:150px;
		width:99.5%;
	}
	.submit_button {
/*		width:60.75%;*/
		height:40px;
		margin-top:unset;
	}
	.contact_container {
		width:50%;
	}
}

/*
.contact_me_line {
	font-size:2em;
}

.contact_one_liner {
	width:100%;
	height:50px;
	border:1px solid gray;
	font-size:2em;
	margin:10px 0;
}

.contact_text_area {
	width:100%;
	border:1px solid gray;
	height:300px;
	font-size:2em;
	margin:10px 0;
}

.contact_label {
	font-size:2em;
}

.submit_button {
	width:101%;
	height:70px;
	background-color:black;
	color:white;
	font-size:2em;
	border:1px solid black;
	margin-top:10px;
}
*/